[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "lumache"
authors = [{name = "Saurabh Borse & Robotics Collective", email = "saurabh.borse@alumni.fh-aachen.de"}]
dynamic = ["version", "description"]
