setuptools
typeguard
Sphinx==8.2.3
myst-parser==4.0.1
sphinx-rtd-theme==3.0.2
sphinxcontrib-serializinghtml==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-applehelp==2.0.0
Jinja2==3.1.6
MarkupSafe==3.0.3
docutils==0.21.2
sphinx-autodoc-typehints==1.24.0
linkify-it-py==2.0.0